@use "./../../../styles/default.scss" as *;

main{
  
  position: relative;
  display: flex;
  height: calc(100vh - 60px); 
  overflow: hidden;
  .MuiDrawer-paper , .MuiDrawer-root{
   .drawer-element{
    
   .drawer-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 1rem;
   }
    a{
      display: flex;
      gap: 1rem;
      padding-inline: 1rem;
    }
   }
  }
}