$whiteSmoke: #f5f5f5;
$greyText: #848b9e;
$primaryBlue: #2a67ff;
$primaryBlueHover: #2758d4;
$lightCyanBlue: #e4e9ee;
$topicalBlue: #cbdafa;
$paleRed: #e74c3c;
$brinkPink: #f3a69e;
$lightRed: #ffe8e6;
$paleGray: #f7fafc;
$darkIndigo: #0a193e;
$white: #fff;
$lightGrey: #d8dce1;
$sunFlowerYellow: #f9df00;
$lightSunFlowerYellow: #fef9cc;
$lightYellow: #f5f3e3;
$goldenRod: #f1c40f;
$greenishTeal: #2ecc71;
$backgroundHover: #f1f4f6;
$lightBlue: #1976d214;
$aliceBlue: #f0f7ff;
$lightAliceBlue: #f2f5f7;
$black: #000000;
$darkBlue: #041f61;
$outlineBlue: #bfd1ff;
$orangeYellow: #fffae8;
$lightGrayishRed: #f6f3f3;
$lightGrayishOrange: #f7e7d4;
$lightGrayishBlue: #e2f0fd;
$veryDarkGrey: #0a0a0a;
$lavenderGrey: #b5b9c5;
$lightAliceBlue: #f4f6f7;
$lavenderGrey: #b5b9c5;
$error: #fd371e;
$lightOrange: #fef6eb;
$darkOrange: #f7931a;
$veryDarkBlue: #0003;
$veryLightGrey: #eaeef12b;
$lightShadeBlueGrey: #f5f7ff;
$warmShadePeach: #fde9ce;
$grayishBlue: #a4a9b7;
$lightPink: #fff6f5;
$mistyRose: #ffe4e1;
$greenyBlue: #53ae94;
$aquaSpring: #f1f8f6;
$paleBlueLily: #d5ebe5;
$gainsboro: #d9dcdd;
$grayblue: #f4f5fa;
$orange: #ff9800;
$darkTeal: #00bfa6;
$indigo: #3f51b5;
$font8: 8px;
$font9: 9px;
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font28: 28px;
$font30: 30px;
$font36: 36px;
$font42: 42px;
$font56: 56px;
$font45: 45px;
$font44: 44px;
$font48: 48px;
$font58: 58px;
$fontRegular: Inter-Regular;
$fontBold: Inter-Bold;
$fontSemiBold: Inter-SemiBold;
$fontMedium: Inter-Medium;
$fontLight: Inter-Light;
$BlogBorder: #f2f2f2;
$BlogBackground: #f9f9f9;
$BlogIconColor: #6b6b6b;


