@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a193e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  background-color: #f9f9f9;
  color: #0a193e;
}
