@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a193e;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  background-color: #f9f9f9;
  color: #0a193e;
}
