@use "./../../../styles/default.scss" as *;


        .MuiContainer-root {
          display: flex;
        flex-direction: column;
        margin-top: 50px;
          height: 900px;
          .sign-in-app-root{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            margin-top: 80px;
            .section-container {
              width: calc(100% - 550px);
              -webkit-box-flex: 1;
              flex-grow: 1;
              .backdrop{
               display: flex;
               justify-content: center;
                z-index: 1201;
                .MuiPaper-root{
                  box-shadow: 0 6px 20px rgba(0, 0, 0, .08);
                  height: auto;
                  padding: 40px;
                  width: 510px;
                  .social-title{
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                    align-items: center;
                  }
                  .social{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;
                    .error-input.MuiInputBase-root{
                      border: 1px solid red !important;
                      color: red ;
                      box-shadow: none;
                    }
                    .MuiInputBase-root{
                      background-color: #fff;
                      color: #0a193e;
                      width: 100%;
                      border: 1px solid transparent;
                      box-shadow: 0 4px 4px -2px rgba(11, 37, 75, .12), 0 0 0 1px rgba(11, 37, 75, .08);
                      input{
                        padding: 8px 10px;
                        width: 100%;
                      }
                      input:focus{
                        outline: 3px solid $outlineBlue;
                      }
                      
            
                    }
                    .btn{
                      display: flex;
                      gap: 10px;
                      width: 100%;
                      height: 55px;
                      border: 1px solid transparent;
                      text-transform: none;
                      color: #0a193e;
                      padding: 8px 10px;
                      box-shadow: 0 4px 4px -2px rgba(11, 37, 75, .12) , 0 0 0 1px rgba(11, 37, 75, .08);
                    }
                    .link:hover{
                      text-decoration: underline;

                    }
                    
                  }
                }
              }
            }
        
          }
        }
       

